@import url(../../../../Source/Widgets/widgets.css);
@import url(../../../../Source/Widgets/lighter.css);

html {
    height: 100%;
}

body {
    background-image: url("../../../../Build/Cesium/Assets/Textures/Skybox/tycho2t3_80_mx.jpg");
    color: #eee;
    font-family: sans-serif;
    font-size: 9pt;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Cesium {
    position: absolute;
    top: 15%;
    left: 15%;
    border: none;
    width: 85%;
    height: 85%;
}

h1 {
	font-size: 500%;
	text-align: center;
}

h2 {
	font-size: 150%;
	text-align: center;
	color: #282828;
	margin-bottom: 0em;
}

.container {
	position: absolute;
	background: #000033;
    border: none;
    width: 100%;
    height: 100%;
}

.title {
	background-image: url("../../../../Build/Cesium/Assets/Textures/Skybox/tycho2t3_80_mx.jpg");
	color: #282828;
    height: 15%;
	width: 100%;
    position: absolute;
}

.toolbar {
	background-image: url("../../../../Build/Cesium/Assets/Textures/Skybox/tycho2t3_80_mx.jpg");
	font-size: 150%;
	color: #282828;
	text-align: center;
    height: 100%;
	width: 150px;
	top: 15%;
    position: absolute;
}
