@import url(../../../../Source/Widgets/widgets.css);
@import url(../../../../Source/Widgets/lighter.css);

html {
    height: 100%;
}

body {
    background-image: url("../../../../Build/Cesium/Assets/Textures/Skybox/tycho2t3_80_mx.jpg");
    font-family: sans-serif;
    font-size: 9pt;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: #333;
}

/*Holds the fullscreen application window, if there is
more than one Cesium instance, this will be split accordingly
the toolbars will remain constant relative to the main window
rather than the individual cesium instances.*/
#Cesium {
    height: 100%;
    width: 100%;
}

#topToolbar {
    position: absolute;
    z-index: 1;
    height: 52px;
    width: 457px;
    left: 50%;
    transform: translateX(-50%);
}

#sideToolbar {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height: 312px;
    width: 53px;
    left: 0%;
}

#browser {
    position: absolute;
    z-index: 1;
    height: 97%;
    width: 300px;
    right: 0%;
    
}

#cesiumInstances {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#hideBrowser {
    display: block;
    position : absolute;
    z-index: 1;
    height: 60px;
    width: 60px;
    right: 308px;
}

.container {
    position: absolute;
    background: #000033;
    border: none;
    width: 100%;
    height: 100%;
}

.overlay {
    display: block;
    box-sizing: content-box;
    top: auto;
    margin-top: 5px;
    background-color: rgba(38, 38, 38, 0.75);
    border: 1px solid #444;
    padding: 2px;
    overflow: hide;
    border-radius: 10px;
    opacity: 1;
}

.cesium-button {
    display: inline-block;
    position: relative;
    background: #303336;
    border: 1px solid #444;
    color: #edffff; /* For text buttons */
    border-radius: 4px;
    padding: 5px 5px;
    margin: 2px 3px;
    cursor: pointer;
    overflow: hidden;
}

.cesium-button:focus {
    color: #fff; /* For text buttons */
    border-color: #ea4;
    outline: none;
}

.cesium-button:hover {
    color: #fff; /* For text buttons */
    background: #48b;
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
}

.cesium-button:active {
    color: #000;
    background: #adf;
    border-color: #fff;
    box-shadow: 0 0 8px #fff;
}

.cesium-toolbar-button {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 14%;
    padding: 0;
    vertical-align: middle;
}

.browserInvisibleButton {
    transform: translate(308px, 0);
    transition: transform 0.4s ease-out;
}

.browserInvisible {    
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: auto;
    right: 0;
    margin-top: 5px;
    background-color: rgba(38, 38, 38, 0.75);
    border: 1px solid #444;
    padding: 6px;
    border-radius: 10px;
    transform: translate(20%, 0);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in, transform 0.2s ease-in;
}

.browserVisible {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

